# api
/api/config.js
/api/logs

# mobile app
/app

# database files
/database/files/*
!/database/files/example

# Mac folder
.DS_Store

# node modules, client and server side
node_modules

# NPM
npm-debug.log
/**/.npmrc

# Optional npm cache directory
.npm
./**/npm

# Extension
chrome-extension/dist/**/*
chrome-extension/dev-build/**/*
!chrome-extension/dev-build/manifest.json
!chrome-extension/dev-build/popup.html
chrome-extension/dist.crx

## pem key
chrome-extension/dist.pem

.htaccess
*.zip
