# api onfig file
api/config.js

# mobile app
app/

# data and log folder
api/log
data/
database/files

# Mac folder
./**/.DS_Store

# node modules, client and server side
node_modules
./**/node_modules

# NPM
npm-debug.log
./**/npm-debug.log
/**/.npmrc

# Optional npm cache directory
.npm
./**/npm

#pem key
chrome-extension/dist.pem
