# api
/api/config.js
/api/logs

# mobile app
/app

# database files
/database/files/*
!/database/files/example
!/database/files/essentiality-tissues.js
!/database/files/rna-tissues.js
!/database/files/protein-tissues.js

# Mac folder
.DS_Store

# node modules, client and server side
node_modules

# NPM
npm-debug.log
/**/.npmrc

# Optional npm cache directory
.npm
./**/npm

# VScode
.vscode

# Extension
extension/.env*
extension/dev-build
extension/chrome
extension/chrome-test
extension/edge
extension/firefox
extension/safari
extension/safari-xcode

# Docs
docs/build
docs/.env*

## pem key
extension/dist.crx
extension/dist.pem

.htaccess
*.zip
*.mp4

# TypeScript incremental build states
*.tsbuildinfo

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json

# Cloud9
.c9
.nzm-*

/api-aws/.env.test
/api-aws/.env.prod