.cExtension-gene-info-panel-backdrop {
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: -8px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #333333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-height: calc(100vh - 25px);
  opacity: 0;
  overflow-x: none;
  overflow-y: auto;
  padding: 5px 12px 5px 5px;
  position: fixed;
  right: 5px;
  top: 5px;
  text-align: left;
  z-index: 10000;
}
.cExtension-gene-info-panel-backdrop-small {
  @extend .cExtension-gene-info-panel-backdrop;
  min-width: unset;
  padding: 8px 35px 8px 5px;
  width: auto;
}
.cExtension-gene-info-panel-button {
   background-color: rgba(239, 83, 80, 0.75);
   border-color: rgb(239, 83, 80);
   border-radius: 2px;
   color: #fafafa;
   cursor: pointer;
   display: none;
   font-size: 18px;
   height: 20px;
   line-height: 20px;
   padding: 0px 1px 1px 1px;
   position: absolute;
   right: 5px;
   text-align: center;
   top: 7px;
   width: 20px;
   z-index: 10001;
}
.cExtension-gene-info-go-selector {
   border: 1px solid #90a4ae;
   border-radius: 2px;
   cursor: pointer;
   flex-grow: 1;
   margin: 0px 2px 0px 2px;
   text-align: center;
}
.cExtension-gene-info-go-selector.active {
   background-color: #a8a6a6;
}
.cExtension-gene-info-section-header {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 5px;
}
.cExtension-gene-info-bevel-line {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #d0d0d0;
  margin: 0px 0px 5px 0px;
  min-height: 2px;
}
.cExtension-gene-info-details-backdrop {
  padding: 2px 0px 2px 0px;
}
