body {
  --background: #fafafa;
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --grey: #bdbdbd;
  --primary: #658170;
  --primary-1: #4caf50;
  --text: #333333;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  font-family: var(--font-stack);
  font-size: 12px;
  grid-column-gap: 10px;
  grid-template-columns: 170px 170px;
  grid-template-rows: auto;
  margin: 5px 8px;
  width: 350px;
}
body.theme_dark {
  --background: #323639;
  --focus: #5b6fd8;
  --grey: #bdbdbd;
  --primary: #7FA782;
  --primary-1: #7FA782;
  --text: rgba(255, 255, 255, 0.7);
  --warning: #f44336;
}
body.theme_light {
  --background: #fafafa;
  --focus: #5490f2;
  --grey: #bdbdbd;
  --primary: #658170;
  --primary-1: #4caf50;
  --text: #333333;
  --warning: #f44336;
}
body > div:first-child {
  grid-column: 1;
  grid-row: 1;
}
body > div:last-child() {
  grid-column: 2;
  grid-row: 1;
}
body > footer {
  border-top: 1px solid #A5D6A7;
  grid-column: 1 / 3;
  grid-row: 3;
  margin-top: 7px;
  padding-top: 3px;
  text-align: center;
  width: 100%;
}
body > footer a {
  margin: 0 3px;
}
body > div > section:not(:first-child) {
  margin-top: 10px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--primary);
  cursor: pointer;
  border-bottom: none;
}
a:hover,
a:active,
a:focus {
  border-bottom: 1px dotted var(--primary);
  outline: none;
}
em {
  display: block;
  margin-bottom: 5px;
  margin-top: 2px;
}
section > h1 {
  font-size: 14px;
  margin: 5px 0;
}
.activate > div,
.display > div {
  margin: 7px 0;
}

/* Checkbox */
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox + label {
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
}
.checkbox + label:before {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  content: '';
  height: 1.25em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.25em; 
}
.checkbox + label:after {
  color: var(--primary-1);
  content: '\2713';
  font-size: 1.3em;
  line-height: 0.8;
  position: absolute;
  top: .1em; left: .3em;
  transition: all .2s;
}
.checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.checkbox:focus + label:before,
.checkbox + label:hover:before {
  outline: none;
  transition: border .2s;
}
.checkbox:focus + label:before {
  border: 2px solid var(--focus);
}
.checkbox + label:hover:before {
  border: 2px solid var(--primary-1);
}
.checkbox:focus,
.checkbox + label:focus {
  outline: none;
}

/* drop */
#drag_placeholder {
  background-color: var(--grey);
  border-radius: 2px;
}
#settings_drop_container {
  position: "relative";
}

/* search */
.search {
  display: flex;
}
.search > button {
  align-items: center;
  background-color: var(--primary-1);
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 2px;
  position: relative;
  width: 30px;
}
.search > button > span {
  display: none;
}
.search > input {
  border: 1px solid #dcdee2;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  box-sizing: border-box;
  flex-grow: 1;
  height: 30px;
  min-width: 0;
  padding: 1px 8px;
  width: 0;
}
.search > label {
  display: none;
}
.search path {
  fill: var(--background);
}

/* search button rippler effect*/
.search > button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background: var(--grey);
  border-radius: 100%;
  opacity: .6;
  transform: scale(0);
}
.search > button:not(:active):after {
  animation: ripple 1s ease-out;
}
.search > button:after {
  visibility: hidden;
}
.search > button:focus:after {
  visibility: visible;
}
@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* input */
.search > button:focus,
.search > input:focus,
.ss-search > input:focus {
  box-shadow: 0px 0px 1px 1px var(--focus) !important;
  outline: none !important;
}

/* select */
select {
  height: 25px;
  width: 100%;
}
select:focus {
  box-shadow: 0px 0px 1px 1px var(--focus);
  outline: none;
}
.slim-select {
  height: auto;
}

/* Toggle */
.toggle-container {
  align-items: center;
  display: flex;
  height: 20px;
  margin: 5px 0px 5px 0px;
  position: relative;
}
.toggle-container button {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 2px;
  transition: border 0.2s ease;
}
.toggle-container button:focus {
  border: 1px solid var(--focus);
  outline: none;
}
.toggle-container path {
  fill: var(--primary);
}
.toggle {
  background-color: transparent;
  height: 1px;
  margin: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  width: 1px;
}
.toggle + label {
  margin-right: 5px;
}
.toggle,
.toggle + label {
  box-sizing: border-box;
}
.toggle + label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  outline: 0;
  user-select: none;
  width: 30px;
  z-index: 2;
}
.toggle + label:after {
  content: "";
  display: inline-block;
  height: 100%;
  position: relative;
  width: 50%;
}
.toggle + label:after {
  left: 0;
}
.toggle:checked + label:after {
  left: 50%;
}
.toggle-flat + label {
  background: #fff;
  border: 2px solid var(--grey);
  border-radius: 2em;
  padding: 1px;
  transition-duration: 0s;
  transition-property: background, border, border-radius, left;
  transition-timing-function: ease;
}
.toggle-flat + label:after {
  background: var(--grey);
  content: "";
  border-radius: 1em;
  transition-duration: inherit;
  transition-property: inherit;
  transition-timing-function: inherit;
}
.toggle-flat:checked + label {
  border: 2px solid var(--primary-1);
}
.toggle-flat:checked + label:after {
  left: 50%;
  background: var(--primary-1);
}
.toggle:focus + label {
  border: 2px solid var(--focus);
}
.toggle:checked:focus + label {
  border: 2px solid var(--focus);
}
.toggle ~ span {
}
.toggle-options {
  border-bottom: 1px solid #A5D6A7;
  border-top: 1px dotted #A5D6A7;
  display: none;
  padding: 5px 0;
}
.toggle-options em {
  display: block;
  padding-left: 15px;
}
.toggle-options > h2 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}
.toggle-options > div {
  margin: 5px 0;
}
.toggle-options_padding div {
  padding-left: 20px;
}
.toggle-options_padding em {
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
}
.hide {
  display: none;
}

.warning {
  border-top: 1px solid #A5D6A7;
  display: none;
  font-weight: bold;
  grid-column: 1/3;
  grid-row: 2;
  justify-content: center;
  margin-top: 7px;
  padding-top: 5px;
  width: 100%;
}
.warning svg {
  fill: var(--warning);
  margin-right: 5px;
}
