body {
  --background: #fafafa;
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --grey: #bdbdbd;
  --primary: #658170;
  --primary-1: #4caf50;
  --text: #333333;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  font-family: var(--font-stack);
  font-size: 12px;
  grid-column-gap: 10px;
  grid-template-columns: 170px 170px;
  grid-template-rows: auto;
  margin: 5px 8px;
  width: 350px;
}
body.theme_dark {
  --background: #323639;
  --grey: #bdbdbd;
  --primary: #7FA782;
  --primary-1: #7FA782;
  --text: rgba(255, 255, 255, 0.7);
}
body.theme_light {
  --background: #fafafa;
  --grey: #bdbdbd;
  --primary: #658170;
  --primary-1: #4caf50;
  --text: #333333;
}
body > div:first-child {
  grid-column: 1;
  grid-row: 1;
}
body > div:last-child() {
  grid-column: 2;
  grid-row: 1;
}
body > footer {
  border-top: 1px solid #A5D6A7;
  grid-column: 1 / 3;
  grid-row: 2;
  margin-top: 7px;
  padding-top: 3px;
  text-align: center;
  width: 100%;
}
body > footer a {
  margin: 0 3px;
}
body > div > section:not(:first-child) {
  margin-top: 10px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--primary);
  cursor: pointer;
  border-bottom: none;
}
a:hover,
a:active,
a:focus {
  border-bottom: 1px dotted var(--primary);
}
em {
  display: block;
  margin-bottom: 5px;
  margin-top: 2px;
}
section > h1 {
  font-size: 14px;
  margin: 5px 0;
}
.activate > div,
.display > div {
  margin: 7px 0;
}

/* Checkbox */
.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
}
.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
}
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
.checkbox:not(:checked) + label:after,
.checkbox:checked + label:after {
  content: '\2713';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: var(--primary-1);
  transition: all .2s;
}
.checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.checkbox + label:hover:before {
  border: 2px solid var(--primary-1);
  transition: border .2s;
}

/* drop */
#settings-drop-container {
  position: "relative";
}

/* input */
.input-search {
  border-radius: 4px;
  border: 1px solid #dcdee2;
  box-sizing: border-box;
  height: 30px;
  padding: 1px 8px;
  width: 100%;
}
.input-search:focus,
.ss-search > input:focus {
  box-shadow: 0px 0px 1px 1px var(--primary-1) !important;
  outline: none !important;
}

/* select */
select {
  height: 25px;
  width: 100%;
}
select:focus {
  box-shadow: 0px 0px 1px var(--primary);
  outline: none;
}
.slim-select {
  height: auto;
}

/* Toggle */
.toggle-container {
  align-items: center;
  display: flex;
  height: 20px;
  margin: 5px 0px 5px 0px;
  position: relative;
  width: 100%;
}
.toggle-container button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 2px;
}
.toggle-container button:focus {
  outline: none;
}
.toggle-container path {
  fill: var(--primary);
}
.toggle {
  display: none;
}
.toggle + label {
  margin-right: 5px;
}
.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + label {
  box-sizing: border-box;
}
.toggle::selection,
.toggle:after::selection,
.toggle:before::selection,
.toggle *::selection,
.toggle *:after::selection,
.toggle *:before::selection,
.toggle + label::selection {
  background: none;
}
.toggle + label {
  outline: 0;
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.toggle + label:after,
.toggle + label:before {
  position: relative;
  display: inline-block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle + label:after {
  left: 0;
}
.toggle + label:before {
  display: none;
}
.toggle:checked + label:after {
  left: 50%;
}
.toggle-flat + label {
  background: #fff;
  border: 2px solid var(--grey);
  border-radius: 2em;
  padding: 1px;
  transition: all .2s ease;
  transition-property: background, border, border-radius, left;
}
.toggle-flat + label:after {
  background: var(--grey);
  content: "";
  border-radius: 1em;
  transition: all .2s ease;
  transition-property: background, border, border-radius, left;
}
.toggle-flat:checked + label {
  border: 2px solid var(--primary-1);
}
.toggle-flat:checked + label:after {
  left: 50%;
  background: var(--primary-1);
}
.toggle-options {
  border-bottom: 1px solid #A5D6A7;
  border-top: 1px dotted #A5D6A7;
  display: none;
  padding: 5px 0;
}
.toggle-options em {
  display: block;
  padding-left: 15px;
}
.toggle-options > h2 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}
.toggle-options > div {
  margin: 5px 0;
}
.toggle-options_padding div {
  padding-left: 20px;
}
.toggle-options_padding em {
  display: block;
  margin-bottom: 10px;
  padding-left: 20px;
}
.hide {
  display: none;
}
