html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  --background: #fdfdfd;
  --background-nav: #8da597;
  --link-dark: #587E65;
  --primary: #658170;
  --primary-1: #4caf50;
  --text: #333;
  --text-light: #fdfdfd;
  --text-nav: #4B2020;
  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
footer {
  margin-top: 10px;
}
header,
main {
  max-width: 900px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  text-decoration: underline;
}
p {
  line-height: 1.5em;
  text-align: justify;
}
li {
  margin: 5px 0;
}
video {
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.buttons {
  list-style: none;
  padding-left: 20;
}
.buttons li {
  align-items: center;
  display: flex;
  margin: 15px;
}
.buttons li img {
  margin-right: 10px;
}
.buttons li:last-child {
  padding-left: 3px;
}
.buttons li:last-child img {
  margin-right: 7px;
}
.documentation {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 220px;
  padding: 0 40px 20px 40px;
}
.documentation ol,
.documentation ul {
  line-height: 1.5em;
}
.documentation a:not(.link-button),
.workspace a {
  background-color: transparent;
}
.documentation a:not(.link-button):link,
.documentation a:not(.link-button):visited,
.workspace a:link,
.workspace a:visited {
  color: var(--link-dark);
  cursor: pointer;
  border-bottom: none;
}
.documentation a:not(.link-button):hover,
.documentation a:not(.link-button):active,
.documentation a:not(.link-button):focus,
.workspace a:hover,
.workspace a:active,
.workspace a:focus {
  border-bottom: 1px dotted var(--link-dark);
}
.documentation__links {
  display: none;
}
.documentation__links li{
  margin: 10px 0;
}
.ellipsis {
  left: 1px;
  position: relative;
  top: 3px;
}
.funding-images {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.funding-images img {
  margin: 10px;
}
.link-button {
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: var(--text-light);
  display: inline-block;
  margin: 0 5px;
  padding: 6px 8px;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.link-button:link,
.link-button:visited {
  background-color: var(--link-dark);
}
.link-button:hover,
.link-button:active,
.link-button:focus {
  background-color: var(--primary-1);
  color: var(--text);
}
.nav {
  background-color: var(--background-nav);
  color: var(--text-nav);
  height: 100vh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 220px;
}
.nav h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}
.nav__inner {
  padding: 20px;
}
.nav__links {
  list-style: none;
  padding-left: 0;
}
.nav__links li {
  margin: 5px 0;
}
.nav__links a {
  background-color: transparent;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.2s linear;
  width: 100%;
}
.nav__links a:link,
.nav__links a:visited {
  background-color: transparent;
  color: var(--text-nav);
  cursor: pointer;
  border-bottom: none;
}
.nav__links a:hover,
.nav__links a:active,
.nav__links a:focus {
  background-color: var(--text-light);
}
.new-features h2 {
  text-decoration: none;
}
.workspace {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 40px 20px 40px;
}
.workspace header,
.workspace p {
  display: block;
  width: 100%;
}
.workspace main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.workspace textarea {
  flex-grow: 1;
  padding: 5px;
  width: 100%;
}

@media (max-width: 799px) {
  .documentation {
    margin-left: 0;
  }
  .documentation__links {
    display: block;
  }
  .nav {
    display: none;
  }
}

@page {
  margin: 2cm;
}

@media print {
  body {
    background-color: transparent;
    color: black;
  }
  .no-print {
    display: none;
  }
}